{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}

<div class="">
    <h1>Edit trick</h1>
    <div class="">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% for media in trick.medias %}
            {% if media.type == 'TYPE_IMAGE' %}
                <img src="{{ asset(media.filename, 'medias') }}"/>
            {% elseif media.type == 'TYPE_VIDEO' %}
                <video controls>
                    <source src="{{ asset(media.filename, 'medias') }}" type="video/mp4"/>
                </video>
            {% else %}
                <p>Le fichier n'est pas reconnu</p>
            {% endif %}
        {% endfor %}
        <button type="submit" class="">Submit</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
