{% extends 'base.html.twig' %}

{% block title %}Modification d'une figure{% endblock %}

{% block body %}

{{ form_start(form) }}
<h1 class="form-title">Modification d'une figure</h1>
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.groupe) }}
{{ form_row(form.thumbnail) }}
<img class="form-existing-thumbnail" src="{{ asset(trick.thumbnail, 'thumbnails') }}"/>
{{ form_row(form.medias) }}
<div class="form-existing-medias">
{% for media in trick.medias %}
    {% if media.type == 'TYPE_IMAGE' %}
        <img src="{{ asset(media.filename, 'medias') }}"/>
    {% elseif media.type == 'TYPE_VIDEO' %}
        <video controls>
            <source src="{{ asset(media.filename, 'medias') }}" type="video/mp4"/>
        </video>
    {% else %}
        <p>Le fichier n'est pas reconnu</p>
    {% endif %}
    <label for="media-{{ media.id }}">Supprimé ?</label>
    <input id="media-{{ media.id }}" name="deleted-files[]" type="checkbox" value="{{ media.id }}">
{% endfor %}
</div>
<button type="submit" class="form-submit">Envoyer</button>
{{ form_end(form) }}

{% endblock %}
