{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

<div class="">
    <h1>{{ trick.name }}</h1>
    <div class="">
        {% for media in trick.medias %}
            {% if media.type == 'TYPE_IMAGE' %}
                <img src="{{ asset(media.filename, 'medias') }}"/>
            {% elseif media.type == 'TYPE_VIDEO' %}
                <video controls>
                    <source src="{{ asset(media.filename, 'medias') }}" type="video/mp4"/>
                </video>
            {% else %}
                <p>Le fichier n'est pas reconnu</p>
            {% endif %}
        {% endfor %}
        <p>{{ trick.description }}</p>
        <p>{{ trick.groupe.name }}</p>
        <p>{{ trick.user.firstname }}</p>
        <p>{{ trick.user.lastname }}</p>
        <a href="{{ path('app_trick_edit', {id: trick.id}) }}">Modifier</a>
        <a href="{{ path('app_trick_delete', {id: trick.id}) }}">Supprimer</a>
        <h2>Commentaires :</h2>
        <div class="">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="">Submit</button>
            {{ form_end(form) }}
        </div>
        {% if comments is empty %}
            <p>Aucun commentaires pour le moment</p>
        {% else %}
            {% for comment in comments %}
                <img src="{{ comment.user.image }}" alt="user-image"/>
                <p>{{ comment.user.firstname }}</p>
                <p>{{ comment.user.lastname }}</p>
                <p>{{ comment.message }}</p>
                <p>{{ comment.createdAt|date("d/m/Y") }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
