{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}

<div class="trick-container">
    <div class="trick-header">
        <img class="trick-thumbnail" src="{{ asset(trick.thumbnail, 'thumbnails') }}"/>
        {% if is_granted('ROLE_MODERATOR') %}
        <div class="trick-options">
            <a class="trick-option-item edit-trick" href="{{ path('app_trick_edit', {slug: trick.slug}) }}">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>
            </a>
            <a class="trick-option-item delete-trick" href="{{ path('app_trick_delete', {slug: trick.slug}) }}" onclick="return confirm('Êtes-vous sur de vouloir supprimer cette figure ?')">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
            </a>
        </div>
        {% endif %}
        <h1 class="trick-title">{{ trick.name }}</h1>
    </div>
    <div class="trick-body">
        <div class="trick-media-container">
        {% for media in trick.medias %}
            {% if media.type == 'TYPE_IMAGE' %}
                <img class="trick-media-item" src="{{ asset(media.filename, 'medias') }}"/>
            {% elseif media.type == 'TYPE_VIDEO' %}
                <video class="trick-media-item" controls>
                    <source src="{{ asset(media.filename, 'medias') }}" type="video/mp4"/>
                </video>
            {% else %}
                <p class="trick-media-item">Le fichier n'est pas reconnu</p>
            {% endif %}
        {% endfor %}
        </div>
        <div class="trick-content">
            <div class="trick-content-main-informations">
                <p class="trick-content-main-informations-item">{{ trick.description }}</p>
            </div>
            <div class="trick-content-secondary-informations">
                <p class="trick-content-secondary-informations-item">{{ trick.groupe.name }}</p>
                <p class="trick-content-secondary-informations-item">{{ trick.user.firstname }} {{ trick.user.lastname }}</p>
                {# <p class="trick-content-secondary-informations-item">{{ trick.createdAt|date("d/m/y") }}</p> #}
            </div>
        </div>
        {% if is_granted('ROLE_MEMBER') %}
        <div class="trick-separator"></div>
        <div class="add-comment">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" id="btn-add-comment">Ajouter un commentaire</button>
            {{ form_end(form) }}
        </div>
        {% endif %}
        <div class="trick-separator"></div>
        {% if comments is empty %}
            <p>Aucuns commentaires pour le moment</p>
        {% else %}
            <div class="trick-comments-container">
            {% for comment in comments %}
                <div class="trick-comment-item">
                    <img class="trick-comment-user-image" src="{{ asset(comment.user.image, 'images') }}"/>
                    <div class="trick-comment-content">
                        <p class="trick-comment-author">{{ comment.user.firstname }} {{ comment.user.lastname }}</p>
                        <p class="trick-comment-message">{{ comment.message }}</p>
                        <p class="trick-comment-date">{{ comment.createdAt|date("d/m/Y") }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
