{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="">
    <h1>{{ user.email }}</h1>
    <div class="">
        <p>{{ user.firstname }}</p>
        <p>{{ user.lastname }}</p>
        {% for role in user.roles %}
            <p>{{ role }}</p>
        {% endfor %}
        {% set image = 'uploads/images/' ~ user.image %}
        <img src="{{ asset(image) }}"/>
        <a href="{{ path('app_user_edit', {id: user.id}) }}">Modifier</a>
        <a href="{{ path('app_user_delete', {id: user.id}) }}">Supprimer</a>
    </div>
</div>

{% endblock %}
